.info-producto {
    h3 {
        font-size: 18px;
        font-weight: 600;
        color: #ffffff;
        margin-bottom: 4px;
    }

    .precio {
        font-size: 15px;
        color: #6f0303;
        font-weight: 500;
    }
}